<h3> Novo Produto </h3>

<%= form_for [:admin , @produto] do |form| %>
	<%= form.hidden_field :situacao %>
	<%= render(:partial => "form" , :locals => {:form => form })%>
<% end %>

<br />
<%= link_to_function "Voltar" , "javascript:history.back();"%>